@model IEnumerable<MyNotes.EntityLayer.Category>
@{
    ViewBag.Title = "Index";
}


<h2>Category</h2>
<p>
    
    <a href="/Category/Create" class="btn btn-primary">Yeni Kayıt</a>
</p>

<table class="table table-bordered table-striped justify-content-between">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>Durum</th>
        
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelitem => item.Title)</td>
            <td>@Html.DisplayFor(modelitem => item.Description)</td>

            <td>
                @Bootstrap.LinkButton("/Category/Edit/" + item.Id, "warning", "btn-sm", "Guncelle", "", "bi bi-pencil", string.Empty)
                @*<a href="/Category/Edit/@item.Id" class="btn btn-warning" title="Guncelle"><i class="bi bi-pencil"></i></a>*@
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@ |
                @Bootstrap.LinkButton("/Category/Details/" + item.Id, "primary", "btn-sm", "Detaylar", "", "bi bi-search", string.Empty)
                @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@ |
                @Bootstrap.LinkButton("/Category/Delete/" + item.Id, "danger", "btn-sm", "Sil", "", "bi bi-trash", string.Empty)
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>

    }



    </tbody>
    
</table>

