@using MyNotes.BusinessLayer.ValueObject
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<link href="~/Content/Login-RegisterStyle.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    <div class="logreg mt-4 flex-column justify-content-between">
        <main class="form-signin">
            <form>
                <h1 class="h3 mb-3 fw-normal text-center">Kayıt Ol</h1>
                @Html.ValidationSummary(false)

                @if (ViewBag.SetLink != null)
                {
                    <a href="@ViewBag.SetLink" class="btn btn-primary">Activate</a>
                }

                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Adı", id = "floatingInput" })
                    <label for="floatingInput">Adı</label>
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control", placeholder = "Soyadı", id = "floatingInput" })
                    <label for="floatingInput">Soyadı</label>
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Kullanici Adı", id = "floatingInput" })
                    <label for="floatingInput">Kullanıcı Adı</label>
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email", id = "floatingInput" })
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Sifre", id = "floatingPassword", type = "password" })
                    @*<input type="password" class="form-control" id="floatingPassword" placeholder="Sifre">*@
                    <label for="floatingPassword">Şifre</label>
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Repassword, new { @class = "form-control", placeholder = "şifre Tekrarı", id = "floatingPassword", type = "password" })
                    <label for="floatingPassword">Şifre Tekrarı</label>
                </div>

                @*<div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>*@
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
            </form>
        </main>

    </div>
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("header").hide();
        $("footer").hide();
        $("#category2").hide();
        $("#category3").removeClass("col-md-9").addClass("col-md d-flex justify-content-center mt-1");
    });
</script>



